[Desktop Entry]
Encoding=UTF-8
Name=Starter Kit: Weather Station Demo
Name[de]=Starterkit: Wetterstation Demo
Version=1.0
Comment=Demo for Starter Kit: Weather Station
Comment[de]=Demo für Starterkit: Wetterstation
GenericName=Starter Kit: Weather Station Demo
Terminal=false
Icon=starter_kit_weather_station_demo-icon.png
Type=Application
Exec=starter_kit_weather_station_demo
Categories=Development;Electronics
